[Desktop Entry]
Encoding=UTF-8
Name=Pulse
Comment=Pulse P2P Cryptocurrency
Comment[fr]=Pulse, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Pulse, eşten eşe kriptografik sanal para birimi
Exec=ALTC-qt %u
Terminal=false
Type=Application
Icon=ALTC128
MimeType=x-scheme-handler/ALTC;
Categories=Office;Finance;
